.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $primary;
	color: $secondary;

	&__inner {
		@include center-block;
		width: 95%;
		display: flex;
		justify-content: space-between;	
	}

	.menu--secondary {

		.menu-item {
			margin-bottom: 5px;

			a {
				text-decoration: none;
				color: $secondary;
			}
		}
	}
	
	&__social {
		display: flex;
		margin-bottom: 2em;
		
		li {
			margin-right: 0.75em;
		}
		
		.icon {
			display: block;
			width: 2em;
			height: 2em;
			background-size: contain;
			background-repeat: no-repeat;
			
			// Use a few SVGs instead of the icon font?
			// &-facebook {
				//   background-image: url(../images/icon-facebook.svg);
				//   width: 1.8em;
				// }
				
				// &-instagram {
					//   background-image: url(../images/icon-instagram.svg);
					// }
					
					// &-youtube {
						//   background-image: url(../images/icon-youtube.svg);
						//   width: 2.4em;
						// }
		}
	}

	.sub-footer {
		padding-top: 40px;
		@include center-block;
		width: 95%;
	}
	
}